body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: white;
    margin: 0;
    padding: 0;
}

.movie {
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #202020;
}

.movie img {
    width: 100%;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #E50914; /* Color similar a Netflix */
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
input, select, button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
}

input, select {
    width: calc(100% - 22px); /* Ajustar el ancho para incluir el padding */
}

input:focus, select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
button {
    background-color: #E50914; /* Color similar a Netflix */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
}

button:hover {
    background-color: #f40612;
}
.movie img {
    transition: transform 0.3s ease;
}

.movie img:hover {
    transform: scale(1.05);
}
.movie {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#prevButton, #nextButton {
    transition: background-color 0.3s ease;
}

#prevButton:hover, #nextButton:hover {
    background-color: #333;
}

.is-favorite {
    color: gold; /* Esto cambiará el color del texto o del botón/icono para resaltar que es favorito */
}

.favorite-button {
    /* Estilos para el botón de favoritos */
    background-color: #E50914;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}

.favorite-button:hover {
    /* Cambios en el estilo cuando el cursor está encima del botón */
    background-color: #f40612;
}
